.login-container {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f9;
}

.login-card {
  width: 400px;
  padding: 16px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.register-link {
  display: flex;
  justify-content: center;
  gap: 4px;
}
