<mat-toolbar class="toolbar" [ngClass]="isDarkTheme ? 'dark' : 'light'">

  <div class="logo-section">
    <span *ngIf="isDarkTheme" class="logo-text">Ride Reserve</span>
    <img *ngIf="!isDarkTheme" src="assets/rideReserveLogoLight.png" alt="Ride Reserve logo" routerLink="/home" height="80" width="110">
  </div>
  
   <div>
    <a mat-button routerLink="/auth/register">Book Vihicle</a>
  </div>
  <span class="spacer"></span>
  
  <div>
    <mat-slide-toggle (change)="toggleTheme($event)" color="accent"
    [checked]="isDarkTheme"
    >
      <span class="toggle-text">{{ isDarkTheme ? 'Dark' : 'Light' }}</span>
    </mat-slide-toggle>

  </div>
  <div>
    <a  mat-button routerLink="/auth/login">Login</a>
  </div>
  <div>
    <a mat-button routerLink="/auth/register">Register</a>
  </div>
  
</mat-toolbar>