@import '../abstracts/variables';

.dark-theme {
  --primary: #{$color-primary-light};
  --accent: #{$color-secondary-light};
  --bg: #{$color-gray-900};
  --card: #{$color-gray-800};

  --text-primary: #{$color-gray-100};
  --text-secondary: #{$color-gray-400};

  --border: #{$color-gray-700};
}
